version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 1
    groups:
      all:
        patterns: ["*"]
    commit-message:
      prefix: "[Frontend] "
  - package-ecosystem: "uv"
    directory: "/backend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 1
    groups:
      all:
        patterns: ["*"]
    commit-message:
      prefix: "[Backend] "
