<!DOCTYPE html>
<html>
  <body>
    <p>Hi</p>

    <p>We received a request to reset the password for your account on <strong>Django React Starter</strong>.</p>

    <p>To reset your password, click the link below:</p>

    <p>
      <a href="{{ password_reset_url }}">Reset My Password</a>
    </p>

    <p>If you didn’t request this, you can safely ignore this email.</p>

    <p>This link will expire in <strong>{{ expiration_time }} minutes</strong> for your security.</p>

    <p>Thanks,<br>The Django React Starter Team</p>
  </body>
</html>
