apscheduler==3.9.*
django==4.1.*
django-apscheduler==0.6.*
djangorestframework==3.14.*
django-anymail[sendinblue]==8.6
django-cleanup==6.0.*
django-filter==2.*
drf-spectacular==0.*
jklib==4.0.*
gunicorn==20.1.*
pillow==9.4.*
psycopg2-binary==2.*
sentry-sdk==1.10.*
SQLAlchemy==1.4.44
whitenoise==6.2.*
