/* Global overrides for Ant Design */

// DATEPICKER
// Presets moves below the dates on very small screens
@media (width <= 500px) {
  .ant-picker-panel-layout {
    flex-flow: column-reverse;

    .ant-picker-presets {
      width: 100%;
      min-width: unset !important;
      max-width: unset !important;
      height: 140px;
    }
  }
}

// CAROUSEL
.slick-dots {
  bottom: -20px !important;

  > li {
    width: 20px !important;

    &.slick-active {
      width: 40px !important;
    }

    > button {
      height: 5px !important;
      background-color: white !important;
    }
  }
}
