/* Global overrides for Ant Design */

/* -------------------------------------------------- */
/* Default overrides                                  */
/* -------------------------------------------------- */

/* DATEPICKER */
/* Presets moves below the dates on very small screens */
@media (width <= 500px) {
  .ant-picker-panel-layout {
    flex-flow: column-reverse;

    .ant-picker-presets {
      width: 100%;
      min-width: unset !important;
      max-width: unset !important;
      height: 140px;
    }
  }
}

/* CAROUSEL */
.slick-dots {
  bottom: -20px !important;

  > li {
    width: 20px !important;

    &.slick-active {
      width: 40px !important;
    }

    > button {
      height: 5px !important;
      background-color: white !important;
    }
  }
}

/* SPINNER */
.ant-spin-nested-loading {
  width: 100%;
}

/* -------------------------------------------------- */
/* Custom classes                                     */
/* -------------------------------------------------- */

/* COLLAPSE */
.custom-ant-collapse {
  &.no-padding {
    .ant-collapse-header {
      padding: 0;
      margin-bottom: 8px;
    }

    .ant-collapse-content, .ant-collapse-content-box {
      padding: 0 !important;
    }
  }
}

/* FORM */
.custom-ant-form {
  .ant-form-item {
    margin-bottom: 8px;
  }
}

.custom-ant-non-field-errors {
  /* Avoid empty FormItem taking up space */
  .ant-form-item-control-input {
    min-height: 0;
  }

  /* Adjust general error display */
  .ant-form-item-explain-error {
    position: relative;
    top: -8px;
    margin-bottom: 8px;
    text-align: center;
  }
}
