@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  /* biome-ignore lint/correctness/noUnknownProperty: This is valid DaisyUI plugin syntax */
  themes: bumblebee --default, coffee --prefersdark;
}

html {
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --default-font-family: "Nunito Sans", sans-serif;
  --toastify-font-family: "Nunito Sans", sans-serif;
}
