// LAYOUT
@layout-max-width: 1200px;
@layout-padding: 20px;

@header-height: 64px;

@footer-height: 40px;

@sider-width: 200px;

@page-banner-height: 90px;

@main-height: calc(100vh - @header-height - @footer-height);

// TRANSITIONS
@base-transition: all 100ms ease-out;

// THEME
// /!\ Make sure those colors match the theme.js /!\
@color-primary: #edb048;
@color-info: #ff5d5f;

@color-success: #49aa19;

@color-warning: #d89614;

@color-error: #a61d24;

@color-text-base: #ffffffdd;

@color-bg-base: #000000;

@color-bg-layout: #222222;

@color-bg-layout-darker: #181818;

@color-bg-layout-lighter: #343434;

@base-border-radius: 6px;

@box-shadow:
  0 1px 2px 0 rgba(0, 0, 0, 0.03),
  0 1px 6px -1px rgba(0, 0, 0, 0.02),
  0 2px 4px 0 rgba(0, 0, 0, 0.02);

@box-shadow-secondary:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
