@import url('src/styles/variables');

.pageBanner {
  position: relative;
  left: -@layout-padding;
  width: calc(100% + @layout-padding * 2);
  height: 40px;
  padding: 0 @layout-padding;
  background-color: @color-primary;

  .titleText {
    color: @color-bg-base;
  }
}
