<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="robots" content="noindex">
  <title>Django React Starter</title>
  <meta name="theme-color" content="#ffffff"/>
  <link rel="icon" type="image/x-icon" href="https://jordan-kowal.github.io/assets/jkdev/favicon.ico">
  {% block head %}{% endblock %}
</head>
<body>
<div class="content">{% block content %}{% endblock %}</div>
{% block extra_js %}{% endblock %}
</body>
</html>
